.deletePosition{
    margin-top: 8px !important;
    margin-bottom: 8px !important ;
    
}
.Main-header{
    font-weight: bold ;
    
}
.searchbar{
    width: 100%;
}
.selectedRow{
    background-color:lightgrey ;
}
.normalRow{
    background-color:white;
}
.footer-btns{
    display: flex;
    flex-direction: row ; 
    justify-content: space-around ;
    padding-left: 35px;
    align-items: center;
    margin-top: 1rem;
    
}
.paginate-btn{
    padding-left: 5px ;
    padding-right: 5px ;
    padding-top: 2px;
}
@media only screen and (max-width:600px){
   .footer-btns{
    display: flex;
    flex-direction: column;
   }
}